In [1]:
s2={"gitam":"hyderabad","address":"vizag"}
print(s2)

{'gitam': 'hyderabad', 'address': 'vizag'}

### dictionaries
~it works on the concept of set unique data
~keys values are the unique identifiers for the value
~each key is separated from its value with colon(:)
~each key and value is separated by comma(,)
~dictionaries enclosed by curly braces({})

In [2]:
s2={"gitam":"hyderabad","address":"vizag"}
del s2['gitam']
print(s2)

{'address': 'vizag'}

In [3]:
s2.values()

dict_values(['vizag'])

In [4]:
s2.keys()

dict_keys(['address'])

# tuples
1. t1 paranthesis() li square brackets[]
2. difference b/w list & tuples
    (i)list are mutable-can be changed/modified
    ~used to acces modify,add,delete data
    (ii)tuplse are un mutable-cannot be changed
    ~used to acces data only

In [5]:
t1=(1,2,3,4,5,6)
t1
type(t1)

tuple

In [9]:
### add contact
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact in details are added")
    else:
        print("contact in details are alredy exits")
    return
addcontact("nusi","9347081154")
addcontact("ammma","9553250307")
addcontact("nusi","9347081154")

contact in details are added
contact in details are added
contact in details are alredy exits

In [11]:
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exists"% name)
    return
searchcontact('nusi')
searchcontact('jagggu')
searchcontact('ammma')

nusi : 9347081154
jagggu does not exists
ammma : 9553250307

In [12]:
#import same contacts
#merge the contacts with the existing one
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added successfully")
    return
newcontacts={'pqr':123456,'abc':789456}
importcontacts(newcontacts)

2 contacts added successfully

In [13]:
#delete a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted succesfully")
    else:
        print(name,"not exists")
    return
deletecontact("ajay")

ajay not exists

In [17]:
#update contact
def deletecontact(name,phone):
    if name in contacts:
        contacts[name]
        print(name,"updated succesfully")
    else:
        print(name,"not exists")
    return
deletecontact("nusi",9347084154)
deletecontact("ajay",9959676532)

nusi updated succesfully
ajay not exists

In [20]:
##Python 3 Program to print Fibonacci 
# series in reverse order   
def reverseFibonacci(n):
    a = [0] * n      
    a[0] = 0 
    a[1] = 1   
    for i in range(2, n):           
        a[i] = a[i - 2] + a[i - 1]    
    for i in range(n - 1, -1 , -1):                     
        print(a[i],end=" ")              
n = 9
reverseFibonacci(n)

21 13 8 5 3 2 1 1 0

In [21]:
#assesement Q3
s1="water"
s2="highr"
for i in range(len(s1)):
    print(s1[i],s2[i])

w h
a i
t g
e h
r r

In [24]:
list=["python","programming"]
print("%s %s" % (list[0],list[1]))

python programming

In [25]:
print(" {0} {1}". format ( list[0],list[1]))

 python programming

# string functions
upper()== will convert into upper case
lower()== will convert into lower case

In [30]:
st="gitam"
st.upper()
st.lower()
st.upper()

'GITAM'

In [31]:
list=[1,2,3,4,5]
print("%d %d %d %d %d " % (list[0],list[1],list[2],list[3],list[4]))

1 2 3 4 5

In [ ]:
## string functions
--> islower()-true if string is lower case/false if the string is not lower case
--> isupper()-true if string is upper case/false if the string is not upper case
--> istitle()-true if the string follows the title case
--> isalpha()-true if the string has only alphabets
--> isnumeric()-true if the string has numbers
--> isspace()-true if the string has only empty space

In [32]:
s1="GITAM"
print(s1.islower())
print(s1.isupper())

False
True

In [39]:
s2="Python programming"
s3="Python Programming"
print(s2.istitle())
print(s3.istitle())

False
True

In [40]:
st="gitam"
sr="yashu436"
print(st.isalpha())
print(sr.isalpha())

True
False

In [41]:
s1="1234"
s2="yashu436"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [42]:
s1="  "
s2="py th on"
print(s1.isspace())
print(s2.isspace())

True
False

# string methods
join()- method will 
split()

In [45]:
s1="python"
print(" ".join(s1))

p y t h o n

In [46]:
s2="python programming easy to learn"
print(",".join(s2))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [49]:
li=["python","programmiing","learn"]
print(".".join(li))

python.programmiing.learn

In [52]:
s2="python programming easy to learn"
print(s2.split())

['python', 'programming', 'easy', 'to', 'learn']

In [54]:
s2="python programming easy to learn"
print(s2.split('a'))

['python progr', 'mming e', 'sy to le', 'rn']

In [58]:
s2="python programming easy to learn"
li=s2.split()
print(li)
print(len(li))

['python', 'programming', 'easy', 'to', 'learn']
5

In [2]:
s2="python programming easy to learn"
li=list(s2)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [8]:
#assesment Q2
def number(n,s):
    ns=list(s)
    sum=0
    co=0
    print(ns)
    for i in range(n):
        count=ns.count(ns[i])
        if count==1:
            sum=sum+int(ns[i])
        elif count>=2:
            co=co+1          
    if co==len(ns):
        print("-1")
    return sum
s="213456"
number(6,s)

['2', '1', '3', '4', '5', '6']

21

In [5]:
#assesment Q10
def threepower(n):
    for i in range(n):
        k=3**i
        print(k)
    return
threepower(6)

1
3
9
27
81
243

In [6]:
#assesment Q11
def twopower(n):
    for i in range(n):
        k=2**i
        print(k)
    return
twopower(10)

1
2
4
8
16
32
64
128
256
512

In [7]:
#individual digits factorial sum assesment Q14
def sum(n):
    for i in range(1,n+1):
        fact=1
        if i<=n:
            print(i,end="!+")
    return 
sum(8)

1!+2!+3!+4!+5!+6!+7!+8!+

In [ ]:
### packages and modules
**packages**
  --> a collection of modules(single python file .py) and subpackages
**modules**
  --> a single python file containing set functions
packages-->sub packages--> modules--> functions--> statements

In [9]:
#import the externals packages to pyhton file
import math ## entire lib will be imported
math.floor(123.45)

123

In [10]:
from math import factorial as fact
fact(5)

120

In [17]:
# function to generate N random numbers in given range
import random
def randomNnumbers(lb,ub):
    for i in range(ub):
        print(random.randint(lb,ub),end=" ")
    return
randomNnumbers(0,100)

35 1 50 100 88 32 72 22 73 63 56 94 88 62 100 86 79 64 44 65 49 56 8 4 37 100 84 89 79 30 5 35 29 90 75 71 19 25 23 1 87 66 79 94 32 86 71 71 13 29 100 42 63 2 4 9 80 86 5 73 17 25 19 66 33 10 12 85 36 10 84 92 15 6 30 100 59 87 6 54 95 15 50 92 53 65 25 98 86 20 89 38 98 50 93 47 24 25 45 50

In [18]:
def generatenumber(n,lb,ub):
   li=[]
   for i in range(0,n):
       li.append(random.randint(lb,ub))
   return li
def check(n):
   if n in li:
       return "congrats!!!"
   else:
       return "try once again"
   return
check(15)

'try once again'